<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Thêm bài hát</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="container mt-5">
    <h2>Thêm bài hát mới</h2>
    <form action="/addSong" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nameAlbuml">Tên Album:</label>
            <input type="text" class="form-control" id="nameAlbuml" name="nameAlbuml" required>
        </div>
        <div class="form-group">
            <label for="status">Trạng thái:</label>
            <select class="form-control" id="status" name="status">
                <option value="true">Hoạt động</option>
                <option value="false">Không hoạt động</option>
            </select>
        </div>
        <div class="form-group">
            <label for="singer">Ca sĩ:</label>
            <input type="text" class="form-control" id="singer" name="singer" required>
        </div>
        <div class="form-group">
            <label for="content">Nội dung:</label>
            <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="url">URL:</label>
            <input type="file" class="form-control-file" id="url" name="url" required accept=".mp3">
        </div>
        <button type="submit" class="btn btn-primary">Thêm mới</button>
    </form>
</div>
</body>

</html>
